.Notification {
    width: 20%;
    height: 80%;
    border-radius: 10%;
    overflow: hidden;
    
}

.Notification .Title {
    width: 100%;
    height: 15%;
    background: #ced6e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-bold', sans-serif;
}

.Notification .Content {
    width: 100%;
    height: 85%;
    background: #dfe4ea;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: visible;
}

.Notification .line {
    background: #747d8c;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto-bold', sans-serif;
    word-wrap: break-word;
}

.Notification .line:hover {
    border: 1px solid black;
}